# external requirements
jupyterlab
pandas
xarray
holoviews
matplotlib
hvplot
plotly
bokeh
panel
param
requests
xlrd  # to read excel files
scipy  # for kde plots
selenium  # for bokeh.io exports
kaleido  # for plotly.io exports
watchfiles  # for panel autoreload

# devtools
ruff
pytest
locust
pyinstrument
